h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  font-family: "Avenir Next Cyr";
}
header {
  background-color: #f5f9fc;
  height: 21.5%;
  font-family: "Avenir Next Cyr";
  dipslay: inline;
}
header button {
  background-color: #f5f9fc;
  width: 130px;
  height: 40px;
  border-color: #5389c5;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  color: #70acef;
  display: inline-block;
  text-transform: uppercase;
}
header img .logo {
  height: auto;
  width: 100%;
}
header nav {
  width: 50px;
  height: 50px;
  border-radius: 5%;
  background: #e5eaed;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav ul:after {
  content: "";
  display: table;
  clear: both;
}
header nav a {
  text-decoration: none;
  display: block;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
header nav li:hover > .topmenu__submenu {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
header nav span {
  text-align: center;
}
header .topmenu > li {
  float: left;
  position: relative;
  border-left: 1px solid #000;
}
header .topmenu > li:first-child {
  border-left: 0;
}
header .topmenu > li > a {
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fefdfd;
  letter-spacing: 2px;
}
header .topmenu > li > a .active {
  color: #ddbe86;
}
header .topmenu .fa,
header .topmenu__submenu .fa {
  margin-left: -14px;
  top: 45px;
  color: inherit;
  font-size: 25px;
}
header .topmenu__submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
header .topmenu__submenu li {
  position: relative;
}
header .topmenu__submenu li a {
  color: #282828;
  padding: 10px 10px;
  font-size: 13px;
}
header .topmenu__submenu a:hover {
  border-color: #5389c5;
  border-left-style: solid;
  color: #000;
  font-weight: bold;
}
header .topmenu__submenu .topmenu__submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
header #contact {
  list-style-type: none;
  margin-top: 20px;
  display: inline-block;
}
header #email a {
  margin-top: 20px;
  display: inline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  color: #60abff;
}
header #callback {
  font-size: 12px;
}
main {
  overflow-y: hidden;
  /*button {*/
  /*}*/
}
main #swipe-gallery .swiper {
  height: 590px;
  min-width: 100%;
  position: relative;
}
main #swipe-gallery .swiper .swiper-button-next {
  left: 490px;
  top: 420px;
  position: absolute;
}
main #swipe-gallery .swiper .header-block {
  width: 420px;
  height: 240px;
  left: 489px;
  top: 150px;
  position: absolute;
  border-style: solid;
}
main #swipe-gallery .swiper h1 {
  text-overflow: clip;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  top: 150px;
  left: 489px;
  font-family: "Avenir Next Cyr";
}
main .details {
  width: 147px;
  border-radius: 5%;
  position: absolute;
  background-color: #5389c5;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  height: 55px;
  border: none;
  text-transform: uppercase;
}
main section h1 {
  font-size: 30px;
  margin-top: 91px;
  margin-left: 10%;
  border-bottom: solid #e8edf0;
  padding-bottom: 30px;
}
main section .services__gallery {
  margin-top: 25px;
}
main section .services__gallery .services__gallery__block {
  display: inline;
  /*img {
			-webkit-filter: grayscale(0);
			border-radius: 0;
			height: 450px;
			width: 360px;
			&:hover {
			-webkit-filter: grayscale(1);
    		filter: grayscale(1);
			}
		}*/
}
main section .services__gallery .services__gallery__block .thumb img {
  -webkit-filter: grayscale(0);
  filter: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  width: 200px;
  height: 200px;
  display: inline;
}
main section .services__gallery .services__gallery__block .thumb {
  padding: 5px;
}
main section .services__gallery .services__gallery__block .arrow {
  height: 50px;
  width: 50px;
  background-color: #e8edf0;
  color: #bbc5cb;
}
main section .services__gallery .services__gallery__block .arrow:hover {
  background-color: #5389c5;
}
main section .services__gallery .services__gallery__block .arrow:hover p {
  color: #5389c5;
  font-weight: bold;
}
main section #advantages .swiper {
  margin-top: 25px;
  width: 1140px;
  height: 510px;
}
main section #advantages .swiper .swiper-slide {
  background-color: #e8edf0;
  width: 360px;
  height: 320px;
}
main section .completedwork {
  max-width: 1140px;
}
main section .completedwork .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e8edf0;
}
main section .completedwork .block__side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}
main section .completedwork .block-body {
  padding: 0px 0px 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}
main section .completedwork .image-slider {
  padding: 30px 0 70px 0;
}
main section .completedwork .image-slider__slide {
  margin: 20px 20px 20px 20px;
}
main section .completedwork .image-slider__image {
  text-align: center;
}
main section .completedwork .image-slider__image img {
  max-width: 100%;
}
main section .completedwork p {
  text-align: left;
}
main section .completedwork .img1,
main section .completedwork .img2,
main section .completedwork .img3,
main section .completedwork .img4 {
  width: 476px;
  height: 268px;
}
main section #ceotexts #ceotexts__block {
  width: 1140px;
  height: 255px;
}
main section #ceotexts #ceotexts__block #ceotexts__block__shadow {
  background: #fff;
  display: inline-block;
  width: 1140px;
  height: 255px;
  margin: 50px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
